/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Foundation Overrides
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


/* -----------------------------------------
   Foundation Overrides
----------------------------------------- */

div.orbit-wrapper div.slider-nav span.left,
div.orbit-wrapper div.slider-nav span.right {
  background:none;
  height:100%;
  margin-top:0;
  top:0;
  width:50%;
}